.advantages {
    padding-top: 70px;
    min-height: 470px;
    &__wrapper {
    }

    &__item {
    }

    &__icon {
    }

    &__subtitle {
    }

    &__text {
    }
}

.title {
display: block;
margin: 0 auto;
color: $black-color;
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
}
