.title {
    display: block;
    margin: 0 auto;
    color: $black-color;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    }